@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1 class="display-4">Bienvenidos</h1>
	<p>Una plataforma para la gestión académica de alumnos, profesores y materias.</p>
</div>
@if (ViewBag.Message is not null)
{
	<div class="card">
		<p class="text-danger">@ViewBag.Message</p>
	</div>
}

